// Sizing shortcuts

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin h6() {
  font-size: 16px;
  font-size: 1rem;
  line-height: 29px;
  line-height: 1.8125rem;
  font-weight: 700;
}
