 // Toggles
//
// Used in conjunction with global variables to enable certain theme features.
@mixin border-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition: $transitions) {
  @if $enable-transitions {
    transition: $transition;
  }
}

// Utilities
@import "mixins/breakpoints";
@import "mixins/hide-text";
@import "mixins/hover";
@import "mixins/image";
@import "mixins/resize";
@import "mixins/reset-text";
@import "mixins/responsive-visibility";
@import "mixins/size";
@import "mixins/tab-focus";
@import "mixins/text-truncate";

// Components
@import "mixins/alert";
@import "mixins/buttons";
@import "mixins/forms";

// Layout
@import "mixins/clearfix";
@import "mixins/center-block";
@import "mixins/grid-framework";
@import "mixins/grid";
@import "mixins/pulls";
@import "mixins/spacing";