// nav.scss


// Slide In Menu
// --------------------------------------------------

.nav {
  background: #fff;
  -webkit-backface-visibility: hidden;
  max-width: 100%;
}

.nav--absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $zIndex-10;
}

.nav--transparent{
  background: transparent;
}

.nav__bar {
  height: 80px;
  max-height: 80px;
  line-height: 80px;
}

.nav__module {
  display: inline-block;
  padding: 0 48px
}

.nav__module--left {
  float: left;
}

.nav__module--right {
  float: right;
}

.nav__module #chlogo {
  height: 36px;
  vertical-align: middle;
}

@include media-breakpoint-down(sm) {
  .nav__module {
    padding-left: 24px;
    padding-right: 24px;
  }
}